
body {
  background-color: #A8C7CF;
}

img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}

h1, h2, p {
  text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

td {
  width: 60px;
  height: 22px;
  text-align: center;
}

tr {
  background-color: #EB7F00;
}

#downtown, #southLakeUnion, #ballard{
  background-color: #ACF0F2;
}

#capitolHill, #wedgewood{
  background-color: #F3FFE2;
}

.flex {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 150px;
}

#nav, #form {
  flex: 0 0 12em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 10;
}

#form {
  position: relative;
  left:20px;
}

#main {
  position: relative;
  top: 80px;
}
